{% extends "videosite/headers/head_for_pages.html" %}


{% block content %}
    <div class="main">
        <div class="video1 video">
            <video controls width="300">
                <source src="{{ video.video.url }}" type="video/mp4">
            </video>
            <p>{{ video.name }}</p>
            <p>Автор - {{ video.author }}</p>
            <p>Дата публікації: {{ video.date.date }}</p>
            {% if video.author == user %}
                <a href="{% url 'delete_url' video.pk %}">Видалити відео</a>
            {% endif %}
        </div>
    </div>
{% endblock %}