<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'videosite/css/style_formpage.css' %}">
</head>
<body>
    <header class="head">
        {% if user.is_authenticated %}
        <div class="left-menu">
            <div class="logo"><a href="{% url 'update_url' pk=user.pk %}"><img src="{{ user.profile.photo.url }}" alt="#" class="logo"></a></div>
            <div class="all-my">
                <a href="{% url 'home' %}" class="all_video">Всі відео</a>
                <a href="{% url 'my_video_url' %}" class="my_video">Мої відео</a>
            </div>
        </div>
        <a href="{% url 'create_video_url' %}" class="add_video">Додати відео</a>
        {% else %}
        <div class="left-menu">
            <div class="all-my">
                <a href="{% url 'register_url' %}" class="all_video">Зареєструватися</a>
                <a href="{% url 'login_url' %}" class="my_video">Увійти</a>
            </div>
        </div>
        {% endif %}
    </header>

    <div class="form">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for i in form %}
            <label for="{{ i.id_for_label }}"></label><p>{{ i }}</p>
        {% endfor %}
         <button class="button" type="submit">{{ button_text }}</button>
         {% if title == 'Редактор' %}
         <a href="{% url 'logout_url' %}">Вийти з акаунту</a>
         {% endif %}
        </form>

    </div>

</body>
</html>