{% extends "videosite/headers/head_for_forms.html" %}

{% block form %}
    <div class="form">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for i in form %}
            <label for="{{ i.id_for_label }}"></label><p>{{ i }}</p>
        {% endfor %}
         <button class="button" type="submit">{{ button_text }}</button>
         {% if title == 'Редактор' %}
         <a href="{% url 'logout_url' %}">Вийти з акаунту</a>
         {% endif %}
        </form>

    </div>

<h6>
Увага, якщо ви створюєте відео:
перший файл - прев'ю, другий - відео.
Все буде КОЛИСЬ виправлено :3
</h6>

{% endblock %}