{% extends "videosite/headers/head_for_pages.html" %}


{% block content %}
    <div class="main">
        {% for video in videos %}
        <div class="video1 video">
            <a href="{{ video.uni }}"><img src="{{ video.prev.url }}" alt="" class="photo photo1"></a>
            <a href="{{ video.uni }}" class="name1 name">{{ video.name }} - {{ video.author }}</a>
        </div>
        {% endfor %}
    </div>

    <div class="scroll">
    <nav>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"> < </a>
        {% endif %}

        {% if page_obj.has_other_pages %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <a>{{ i }}</a>
                {% elif i >= page_obj.number|add:-2 and i <= page_obj.number|add:2 %}
                <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> > </a>
        {% endif %}
    </nav>
    </div>
{% endblock %}