body{
    margin: 0;
    background-color: #FEF3E2;

    font-family: Arial, Helvetica, sans-serif;
}
.head{
    background-color: #FA4032;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: start;

    padding: 15px;
    padding-left: 300px;
}
.head > a,
.head > .left-menu > .all-my > a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.head > a:hover,
.head > .left-menu > .all-my > a:hover{
    text-decoration: underline;
}
.head > a:active,
.head > .left-menu > .all-my > a:active{
    color: #ffffff86;
}
.left-menu{
    display: flex;
    flex-direction: row;
}
.logo{
    display: flex;
    align-items: center;

    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.video{
    display: flex;
    flex-direction: column;

    margin: 40px;
}
.photo{
    width: 350px;
    height: 200px;
}
.main > .video > a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
}
.main > .video > a:hover{
    text-decoration: underline;
    opacity: 70%;
}
.main > .video > a:active{
    color: #FA4032;
    opacity: 100%;
}
